@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@font-face {
	font-family: "G.B.BOOT";
	src: url("/fonts/GBBoot/Gbboot-ALpM.ttf");
}

@font-face {
	font-family: "Gossamer Girls";
	src: url("/fonts/GossamerGirls/GossamerGirlsRegular-dBn7.ttf");
}

@font-face {
	font-family: "Home Video";
	src: url("/fonts/HomeVideo/HomeVideo-BLG6G.ttf");
}