#title-intro-text {
	margin-top: 0;
	text-align: center;
}

#title-title {
	font-size: x-large;
}

#title {
	background: transparent;
	display: flex;
	flex-direction: column;
}

#title-name {
	font-family: "Gossamer Girls", monospace;
	font-size: 30pt;
}