body {
    background-color: rgb(1, 40, 45);
}

.square {
    height: 6rem;
    width: 6rem;
    /* margin: 1rem; */
}

.left-to-right {
    display: flex;
}

.top-to-bottom {
    display: flex;
    flex-direction: column;
}
