# Remove all files without extentions
*
!*/
!*.*

# Remove binaries
*.o
*.bin

# GitHUb stuff
Github/
.devcontainer

# Editor specific
.vscode
*.log
.idea

# Rust stuff
target/

# Clojure stuff
.lsp
.calva
.clj-kondo
.nrepl-port
.cpcache

# Haskell
dist-newstyle
